body {
  display:block;
}

header {
  padding: 2rem $gutter;
  grid-template-columns: 50px auto auto;
  h1 {
    font-size: 2rem;
    padding-top: 0.6rem;
  }
}

a#navClose, a#ham {
display:none;
}

nav {
  height:auto;
  border-bottom: 2px solid gray;
  ul {
    display:flex;
  }
  li:first-child {
    border-top:none;
  }
  li a {
    border:none;
    &:hover {
      background-color:#eee;
    }
  }
}

